@import url('https://fonts.googleapis.com/css2?family=Winky+Rough&display=swap');

/* Solo si estás cargando Playwrite Australia QLD manualmente */
@font-face {
  font-family: 'Playwrite Australia QLD';
  src: url('fonts/PlaywriteAustraliaQLD.woff2') format('woff2'); /* ajusta si el nombre o carpeta es diferente */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Playwrite Australia QLD', sans-serif;
  background-color: #CFEAFB; /* Celeste pastel */
  color: #333;
  margin: 0;
  padding: 2rem;
}

h1 {
  font-family: 'Playwrite Australia QLD', sans-serif;
  text-align: center;
  color: #8C4F96;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}

.semestre {
  background-color: #ffffffcc;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 12

